* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.blockcontainer {
  width: 90%;
  margin: 0% 5%;
}

.block1,
.block2,
.block3 {
  float: left;
  width: 32%;
  border: 1px solid black;
  background-color: #999999;
  margin-top: 2%;
}

.title {
  border: 1px solid black;
  float: right;
  width: 130px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.desc {
  clear: right;
  padding: 5% 5%;
}

.block1 {
  margin-right: 2%;
  margin-top: 2%;
}

.block2 {
  margin-right: 2%;
}

.block1 .title {
  background-color: #d59898;
}

.block2 .title {
  background-color: #c14543;
  color: white;
}

.block3 .title {
  background-color: #e5d198;
}

@media (min-width: 768px) and (max-width: 991px) {
  .block1,
  .block2 {
    width: 48%;
  }
  .block2 {
    margin-right: 0;
    margin-left: 2%;
  }
  .block3 {
    margin-top: 4%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .block1,
  .block2,
  .block3 {
    margin: 2% 0%;
    width: 100%;
  }
}
